body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
  letter-spacing: 0.02em;
}

h2,
h3 {
  color: #2e2f42;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

.logo-text {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-text .studio {
  color: #2e2f42;

}

.nav-text {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-text:active,
.nav-text:hover,
.nav-text:focus,
.contacts-text:active,
.contacts-text:hover {
  color: #404bbf;
}

.contacts-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  font-style: normal;

}

.footer-text {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.website-title {
  color: white;
  background-color: #2e2f42;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
}

.strengths-title {
  font-weight: medium;
  font-size: 24px;
  line-height: 1.33;
}

.teammate-name,
.product-name {
  font-weight: medium;
  font-size: 20px;
  line-height: 1.2;
}

.button-text {
  color: white;
  background-color: #4d5ae5;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
}

